{% extends 'back/base_back.html.twig' %}

{% block title %}Nouveau voyage{% endblock %}

{% block body %}
    <h1>Nouveau voyage</h1>

    {{ include('back/trip/_form.html.twig') }}

    <a href="{{ path('app_back_trip_index') }}">Retour</a>
{% endblock %}
